[submodule "thirdparty/c-blosc2"]
	path = thirdparty/c-blosc2
	url = https://github.com/Blosc/c-blosc2
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json
[submodule "thirdparty/vcpkg"]
	path = thirdparty/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog
